
/*左边淡入start*/
.leftInto
{
	position:relative;
	animation:leftIn 1.5s;
	-webkit-animation:leftIn 1.5s; /* Safari and Chrome */
}
@keyframes leftIn
{
	from {left: -200px;opacity: 0;}
	to {left: 0;opacity: 1;}
}

@-webkit-keyframes leftIn /* Safari and Chrome */
{
	from {left: -200px;opacity: 0;}
	to {left: 0;opacity: 1;}
}
/*左边淡入end*/

/*右边淡入start*/
.rightInto
{
	position:relative;
	animation:rightIn 1.5s;
	-webkit-animation:rightIn 1.5s; /* Safari and Chrome */
}
@keyframes rightIn
{
	from {left: 200px;opacity: 0;}
	to {left: 0;opacity: 1;}
}

@-webkit-keyframes rightIn /* Safari and Chrome */
{
	from {left: 200px;opacity: 0;}
	to {left: 0;opacity: 1;}
}
/*右边淡入end*/


/*弹跳进入start*/
.bounceInto{
	animation:bounceIn 1.5s;
	-webkit-animation:bounceIn 1.5s; /* Safari and Chrome */
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
/*弹跳进入end*/


/*轮播图进入start*/
.lunboIn
{
	animation:lunboIn 3s;
	-webkit-animation:lunboIn 3s; /* Safari and Chrome */
	/*animation-delay:2s;
    -webkit-animation-delay:2s; /* Safari 和 Chrome */*/
}
@keyframes lunboIn{
		
	from{left: -700px; opacity: 0; transform: scale3d(0, 0, 0);}
	33.33333%{left: -700px; opacity: 0; transform: scale3d(0, 0, 0);}
	to {left: 0; opacity: 1; transform: scale3d(1, 1, 1);}
}
/*轮播图进入end*/